#gallow
  #man
    #rope
      = image_tag('rope.png')
    #head
      = image_tag('head.png')
    #l-arm
      = image_tag('l_arm.png')
    #body
      = image_tag('body.png')
    #r-arm
      = image_tag('r_arm.png')
    #l-leg
      = image_tag('l_leg.png')
    #r-leg
      = image_tag('r_leg.png')
