!!! html
%html
  %head
    %title Hangman
    /[if lt IE 9]
      %script{src:"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name:'viewport', content:'width=device-width, initial-scale=1'}
  %body
    .controls
      %h1 Hangman
    .container-fluid
      .row-fluid
        .span6
          = yield
        .span6
          #gallow
            #man
              #rope
                = image_tag('rope.png')
              #head
                = image_tag('head.png')
              #l-arm
                = image_tag('l_arm.png')
              #body
                = image_tag('body.png')
              #r-arm
                = image_tag('r_arm.png')
              #l-leg
                = image_tag('l_leg.png')
              #r-leg
                = image_tag('r_leg.png')
    %footer
