!!! html
%html
  %head
    %title Hangman
    /[if lt IE 9]
      %script{src:"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name:'viewport', content:'width=device-width, initial-scale=1'}
  %body
    .controls
      %h1 Hangman
    .container-fluid
      .row-fluid
        .span6
          %p.notice= notice
          %p.alert= alert
          = yield
        .span6
          - if user_signed_in?
            %p= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - if content_for? :right
            = yield :right
          
    %footer
